<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC12H5AURGAyEIvz1l7GswnThMtDaRzhNA</string>
	<key>GCM_SENDER_ID</key>
	<string>349516420887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaboteru</string>
	<key>PROJECT_ID</key>
	<string>zaboteru</string>
	<key>STORAGE_BUCKET</key>
	<string>zaboteru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349516420887:ios:e3a33fc4b1e819d3df8952</string>
	<key>DATABASE_URL</key>
	<string>https://zaboteru-default-rtdb.firebaseio.com</string>
</dict>
</plist>